<!DOCTYPE html>
<html>
  <head>
    <title>RailsApp</title>
    <%= csrf_meta_tags %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body background="skin_side_up.png">
    <%= render 'layouts/header' %>
    <!-- Error message -->
    <%= render 'layouts/flash' %>
    <%= yield %>
  </body>
</html>
